@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:100,200,300,400,500,600,700');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

#topbar {
    height: 40px;
    background-color: black;
}

header {
    background-color: white;
    height: 92px;
    width: 100%;
}

.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.background_foto {
    background-image: url("https://www.themesindustry.com/html/xwin/images/page-tittle.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 40px;
    height: 297px;
    padding-top: 90px;
}

.flex_end {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.page_nav a {
    color: black;
    font-size: 0.875rem;
    font-family: 'Open Sans';
    line-height: 1.5rem;
    display: inline-block;
    margin: 0 10px;
    color: #0b0b0b;
}

.page_nav span {
    color: #7f7f7f;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-family: 'Open Sans';
}

.background_foto h1 {
    font-size: 2.625rem;
    color: white;
    font-weight: 600;
    line-height: 1.1;
}

.background_foto p {
    color: white;
    line-height: normal;
    font-size: .9rem;
    font-family: 'Open Sans';
}

.page_nav {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #fff;
    padding: 18px 40px 20px;
    display: inline-block;
    margin-top: 90px;
    color: #7f7f7f;
    font-size: 0.875rem;
}

#blog .container {
    display: flex;
    gap: 25px;
}

#column_divs_first {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.column_div_first {
    display: flex;
    gap: 30px;
    width: 100%;
    height: 365px;
    margin-top: 50px;
    border-bottom: 1px solid #cccccc;
}

.fa-message-lines {
    font-size: 18px;
    color: #3e9fbe;
    margin-right: 3px;
    vertical-align: middle;
}

.img_in_column_div {
    width: 96%;
}

.img_own {
    border-radius: 5px;
    width: 100%;
}

.column_div_first h3 {
    font-size: 1.500rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    line-height: 1.1;
    color: inherit;
}

.column_div_first a {
    line-height: 1.5rem;
    font-family: 'Open Sans';
    color: #5b5b5b;
    font-size: 12px;
}

.text_in_column_div ul {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.text_in_column_div p {
    margin-top: 15px;
    color: #5b5b5b;
    line-height: normal;
    font-size: .9rem;
    font-family: 'Open Sans';
}

.read_more_btn {
    margin-top: 30px;
    width: 30%;
    height: 40px;
    border: 1px solid #0f0f0f;
    padding: 10px 30px;
    font-weight: bold;
    line-height: normal;
    font-size: 13px;
    border-radius: 4px;
    background-color: white;
    position: relative;
}

.read_more_btn::before {
    background: #73AE20;
    border: 1px solid #73AE20;
    border-radius: 4px;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all .4s ease;
    width: 100%;
    z-index: -1;
}

.read_more_btn:hover::before {
    transform: scale(0.5, 1);
    opacity: 1;
}

.read_more_btn:hover {
    color: white;
}

#featured_courses {
    padding: 15px;
    background-color: #ebeff2;
    width: 39%;
    margin-top: 90px;
    height: 100%;
    padding-bottom: 50px;
}

form {
    background: #d8dadb;
    padding: 5px;
    width: 100%;
    display: flex;
    position: relative;
    border-collapse: separate;
}

#search {
    height: 42px;
    font-family: inherit;
    width: 100%;
    margin-bottom: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #55555559;
    background-color: #fff;
}

.fa-magnifying-glass {
    background: #73AE20;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    height: 42px;
    width: 19%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#featured_courses h3 {
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 1.500rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    line-height: 1.1;
    color: inherit;
}

.ds_flex {
    display: flex;
    gap: 10px;
    height: 140px;
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.text_aside h5 {
    font-weight: bold;
    font-size: 0.875rem;
    margin-bottom: 5px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.1;
    color: inherit;
}

.free_btn {
    font-size: 12px;
    padding: 5px 10px;
    font-weight: bold;
    line-height: 1;
    background: #3e9fbe;
    border-radius: 4px;
    border: none;
    color: white;
}

.icons_aside i {
    color: #ffcc00;
    margin-top: 5px;
}

.name_in_aside {
    font-size: 0.813rem;
    display: block;
    color: #0f0f0f;
    line-height: 1.5rem;
    font-family: 'Open Sans';
}

#top_tags ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#top_tags a {
    border: 1px solid #bababa;
    color: #5b5b5b;
    display: block;
    font-size: 12px;
    margin-bottom: 2px;
    line-height: 1;
    padding: 6px 10px;
    background: #fff;
    font-family: 'Open Sans';
    transition: 0.4s;
}

#expertstwo .row {
    display: flex;
    gap: 20px;
}

#top_tags a:hover {
    background-color: #3e9fbe;
    color: white;
}

#transition_section {
    margin-top: 50px;
    margin-bottom: 90px;
}

#transition_section ul {
    display: flex;
    gap: 15px;
}

#transition_section a {
    color: #0f0f0f;
    font-size: 1rem;
    font-family: 'Open Sans';
    transition: 0.4s;
}

#transition_section a:hover {
    color: #73AE20;
}

footer {
    background: #3e9fbe;
    margin-top: 100px;
}

.box {
    width: 30%;
}

.box h3 {
    font-size: 1.500rem;
    font-weight: 600;
    color: white;
    border-bottom: 1px solid #dadada;
    width: 100%;
}

#boxes {
    padding-top: 100px;
}

h3 span {
    display: block;
    margin: 10px 0 -2px;
    height: 4px;
    width: 70px;
    background: white;
}

.box p {
    color: white;
    line-height: normal;
    font-size: .9rem;
    font-family: 'Open Sans';
    margin-top: 20px;
    margin-bottom: 25px;
}

.img_box a {
    display: inline-block;
    margin-top: 20px;
}

.box #one_ul {
    display: flex;
    gap: 7px;
}

#one_ul li {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

#one_ul a {
    color: white;
}

#boxes {
    display: flex;
    gap: 30px;
}

#second_ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

#second_ul li {
    width: 50%;
    height: 40px;
}

#second_ul li a {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 10px;
    padding-bottom: 5px;
    display: inline-block;
    position: relative;
}

#second_ul li:hover a::after {
    background: #ffffff;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 2px;
    left: 0;
    margin-left: 10px;
    position: absolute;
    right: 50%;
    width: 100%;
}

p i {
    width: 25px;
}

p a {
    font-family: 'Open Sans';
    color: white;
    font-size: .9rem;
    line-height: normal;
}

#img_footer {
    width: 100%;
}

#under_footer {
    height: 60px;
}

#under_footer_text {
    text-align: center;
    line-height: 60px;
    font-size: 0.875rem;
}

#under_footer_text a {
    color: inherit;
}

#under_footer_text a:hover {
    color: #337ab7;
}

#error_section {
    margin-top: 100px;
}

#error_div {
    text-align: center;
}

#error_section h1 {
    position: relative;
    color: #ebebeb;
    font-size: 9.375rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    line-height: 1.1;
}

#error_section h2 {
    font-size: 3.125rem;
    left: 50%;
    top: 28%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

#error_div p {
    margin-bottom: 45px;
    color: #5b5b5b;
    line-height: normal;
    font-size: .9rem;
    font-family: 'Open Sans';
}

#btns {
    display: flex;
    justify-content: center;
    gap: 4px;
}

#back_btn {
    background: #3e9fbe;
    padding: 10px 30px;
    color: white;
    display: inline-block;
    font-weight: bold;
    line-height: normal;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    position: relative;
    z-index: 1;
}

#back_btn::after {
    background: #73AE20;
    border: 1px solid #73AE20;
    border-radius: 4px;
    content: "";
    height: 95%;
    left: -78px;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 311px;
    z-index: -1;
    opacity: 0;
    transform: scale(0.5, 1);
}

#back_btn:hover::after {
    opacity: 1;
    transition: all .4s ease;
}

#qet_btn {
    background: #73AE20;
    padding: 10px 30px;
    color: white;
    display: inline-block;
    font-weight: bold;
    line-height: normal;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    position: relative;
    z-index: 1;
}

#qet_btn {
    background: #73AE20;
    padding: 10px 30px;
    color: white;
    display: inline-block;
    font-weight: bold;
    line-height: normal;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    position: relative;
    z-index: 1;
}

#error_section .container {
    position: relative;
}

#qet_btn::after {
    background: #3e9fbe;
    border: 1px solid #3e9fbe;
    border-radius: 4px;
    content: "";
    height: 95%;
    left: -72px;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 287px;
    z-index: -1;
    opacity: 0;
    transform: scale(0.5, 1);
}

#qet_btn:hover::after {
    opacity: 1;
    transition: all .4s ease;
}

#contact_form {
    margin-top: 91px;
    height: 1000px;
}

.contact {
    width: 32%;
}

.contact h2 {
    border-bottom: 1px solid #dadada;
    display: inline-block;
    font-size: 2.000rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: 34px;
}

h2>span {
    font-weight: 200;
}

.underline {
    height: 4px;
    width: 70px;
    background: #73AE20;
    display: block;
    margin: 10px 0 -2px;
}

.contact p {
    margin-top: 45px;
    color: #5b5b5b;
    line-height: normal;
    font-size: .9rem;
    font-family: 'Open Sans';
    margin: 0px 0 10px;
}

#icons {
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin-top: 25px;
}

#icon_first i {
    background: #3e9fbe;
    float: left;
    height: 60px;
    width: 64px;
    text-align: center;
    font-size: 35px;
    line-height: 60px;
    border-radius: 4px;
    color: white;
}

#icon_second i {
    background-color: #73AE20;
    float: left;
    height: 60px;
    width: 64px;
    text-align: center;
    font-size: 35px;
    line-height: 60px;
    color: white;
    border-radius: 4px;
}

#icon_third i {
    background-color: #3e9fbe;
    float: left;
    height: 60px;
    width: 64px;
    text-align: center;
    font-size: 35px;
    border-radius: 4px;
    color: white;
    line-height: 60px;
}

.contact h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.1;
    color: inherit;
    margin: 10px 0 0 80px;
}

#form {
    width: 66%;
}

#form h2 {
    border-bottom: 1px solid #dadada;
    display: inline-block;
    font-size: 2.000rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: 34px;
}

#contact_form .container {
    display: flex;
    gap: 27px;
}

#icons span {
    font-size: .9rem;
    display: inline-block;
    font-family: 'Open Sans';
    color: #5b5b5b;
    line-height: normal;
    margin-left: 17px;
}

#form_input {
    margin-top: 46px;
    display: flex;
    gap: 10px;
}

.name_email_web {
    width: 40%;
    padding: 12px 15px;
    border-radius: 4px;
    color: #555;
    margin-bottom: 10px;
    font-family: 'Open Sans';
    font-size: 14px;
    border: 1px solid #d1d1d1;
    height: 48px;
}

#big_textarea {
    width: 100%;
    min-height: 210px;
    padding: 12px 15px;
    margin-bottom: 10px;
    font-size: 14px;
    border: 1px solid #d1d1d1;
    font-family: 'Open Sans';
}

#submit_btn {
    padding: 10px 30px;
    display: inline-block;
    font-weight: bold;
    line-height: normal;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    background: #73AE20;
    border: none;
    color: #fff;
}

#submit_btn::after {
    background: #3e9fbe;
    border: 1px solid #3e9fbe;
    border-radius: 4px;
    content: "";
    height: 93%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 98%;
    transform: scale(0.5, 1);
    z-index: -1;
    transition: all .4s ease;
}

#submit_btn:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}

#first_ul {
    display: flex;
    gap: 7px;
    margin-top: 20px;
}

#first_ul li {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.facebook::after {
    background: #3b5998;
    border: 1px solid #3b5998;
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 3px;
    content: '';
    top: -3px;
    left: -7px;
    z-index: -1;
    opacity: 0;
}

.facebook:hover::after {
    transition: all .3s ease-in-out;
    transform: scale(1.5);
    opacity: 1;
}

.twit_vimeo::after {
    background: #00aced;
    border: 1px solid #00aced;
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 3px;
    content: '';
    top: -3px;
    left: -4px;
    z-index: -1;
    color: white;
    opacity: 0;
}

.twit_vimeo:hover::after {
    transition: all .3s ease-in-out;
    transform: scale(1.5);
    opacity: 1;
}

.dribbble::after {
    background: #3b5998;
    border: 1px solid #3b5998;
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 3px;
    content: '';
    top: -3px;
    left: -4px;
    z-index: -1;
    opacity: 0;
}

.dribbble:hover::after {
    transition: all .3s ease-in-out;
    transform: scale(1.5);
    opacity: 1;
}

.instagram::after {
    background: #3b5998;
    border: 1px solid #3b5998;
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 3px;
    content: '';
    top: -3px;
    left: -4px;
    z-index: -1;
    opacity: 0;
}

.instagram:hover::after {
    transition: all .3s ease-in-out;
    transform: scale(1.5);
    opacity: 1;
}

.facebook {
    color: black;
    position: relative;
    z-index: 1;
}

.twit_vimeo {
    color: black;
    position: relative;
    z-index: 1;
}

.dribbble {
    color: black;
    position: relative;
    z-index: 1;
}

.instagram {
    color: black;
    position: relative;
    z-index: 1;
}

#swiper_in_about {
    padding-top: 100px;
}

.swiper {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    text-align: left;
    font-size: 18px;
    background: #fff;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.company {
    display: flex;
    gap: 25px;
    background-color: white;
    width: 32%;
    border-radius: 7px;
    height: 170px;
    aspect-ratio: 1/2;
    margin-top: 30px;
}

.img_construction {
    margin-top: 45px;
    margin-left: 5px;
    width: 140px;
}

.img_gold {
    margin-top: 23px;
    width: 130px;
    margin-left: 20px;
}

.img_nd {
    width: 170px;
    margin-top: 35px;
}

.text_in_inshaat {
    width: 38%;
    margin-top: 45px;
}

.text_in_inshaat h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
}

#companies_in_inshaat {
    display: flex;
    gap: 14px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.div_in_services {
    width: 31%;
    margin-top: 70px;
}

.div_in_services:hover img {
    transform: scale(1.15);
}

.div_in_services:hover a {
    color: #00aced;
}

.div_in_services h3 {
    margin-top: 20px;
}

.img_in_services {
    overflow: hidden;
}

.div_in_services img {
    width: 100%;
    border-radius: 4px;
    transition: 2s;
}

.view_models {
    width: 42%;
    margin-top: 20px;
    height: 38px;
    background-color: #73AE20;
    color: white;
    font-weight: bold;
    line-height: normal;
    font-size: 13px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    font-family: 'Open Sans';
    cursor: pointer;
}

.view_models::after {
    background: #3e9fbe;
    border: 1px solid #3e9fbe;
    border-radius: 4px;
    content: "";
    height: 96%;
    left: -50%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 198%;
    z-index: -1;
    transition: 0.7s ease all;
}

.view_models:hover::after {
    transform: scale(0.5, 1);
    opacity: 1;
}

#services .container {
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
}

#sdetails_section {
    margin-top: 80px;
}

#sdetails_section .container {
    display: flex;
    gap: 30px;
}

#left_detail {
    width: 65%;
}

#img_in_details {
    width: 100%;
}

#img_in_details img {
    width: 100%;
}

#div_course {
    background: #f2f2f2;
    padding: 20px 15px;
    margin-top: 10px;
    display: flex;
    gap: 40px;
}

.fa-users {
    color: white;
    width: 32px;
    height: 32px;
    background-color: #73ae20;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#name_of_teacher {
    display: flex;
}

#name_of_teacher p {
    font-size: 0.813rem;
    color: #5b5b5b;
    line-height: normal;
    font-family: 'Open Sans';
    display: inline-block;
    margin-left: 10px;
}

#name_of_teacher h5 {
    font-size: 0.875rem;
    font-weight: bold;
    margin-left: 10px;
    color: #5b5b5b;
}

.icons_aside {
    display: flex;
    align-items: center;
}

#left_detail h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#sdetails_section p {
    margin-top: 30px;
    margin-bottom: 15px;
}

#sdetails_section ul {
    display: flex;
    flex-wrap: wrap;
}

#sdetails_section li {
    width: 30%;
}


/* testimonials */

#messages span {
    font-weight: 200;
    font-size: 2.000rem;
}

#messages h2 {
    width: 285px;
    font-size: 2.000rem;
    height: 40px;
    font-weight: 500;
    border-bottom: 1px solid #DADADA;
}

.under_client {
    height: 4px;
    width: 70px;
    background: #73AE20;
    display: block;
}

#messages {
    margin-top: 100px;
}

.foto_text {
    text-align: center;
    padding: 20px 16px;
    position: relative;
    margin-top: 10px;
    background: #3e9fbe;
}

.foto_text p {
    color: #fff;
    font-size: 0.938rem;
    line-height: normal;
    font-family: 'Open Sans';
}

.foto_text::after {
    border-right: 30px solid transparent;
    border-top: 25px solid #3e9fbe;
    bottom: -25px;
    content: "";
    height: 0;
    left: 18px;
    position: absolute;
    width: 0;
}

.clients {
    width: 23%;
}

.div_under_text_blue {
    display: flex;
    margin-top: 30px;
    gap: 15px;
}

.text_near_foto span {
    color: #3e9fbe;
    margin-top: 9px;
    font-weight: 500;
    line-height: 1.5rem;
    font-size: 1rem;
    font-family: 'Open Sans';
}

.text_near_foto p {
    color: #646464;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-family: 'Open Sans';
}

.foto_text {
    margin-top: 40px;
}

.all_clients {
    display: flex;
    gap: 21px;
}


/* testimonials end */


/* blog detail */

#blog_detail_section {
    margin-top: 80px;
}

#blog_detail_section .container {
    padding-bottom: 70px;
    border-bottom: 1px solid #d1d1d1;
}

#blog_detail_section img {
    width: 100%;
}

#blog_detail_section h3 {
    margin-top: 25px;
    margin-bottom: 20px;
}

#blog_detail_section a {
    color: #5b5b5b;
    font-size: 12px;
}

#message_detail {
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 10px;
}

#blog_detail_section p {
    margin-top: 10px;
}

#share_links .container {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    border-bottom: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
    padding: 10px 0;
}

#share_links p {
    color: #5b5b5b;
    line-height: normal;
}

#share_links a {
    color: #5b5b5b;
}

#share_links a:hover {
    color: #73AE20;
}

#link_share_detail {
    display: flex;
    gap: 20px;
}

#img_in_blog_detail {
    overflow: hidden;
}

#img_in_blog_detail:hover img {
    transform: scale(1.2);
    transition: 1s;
}


/* blog detail end */

@media screen and (max-width: 1200px) {
    .container {
        width: 970px;
    }
    .read_more_btn {
        width: 33%;
    }
    .column_div_first {
        display: flex;
        gap: 20px;
        width: 100%;
        margin-top: 50px;
    }
    #featured_courses {
        width: 45%;
    }
    .read_more_btn {
        width: 35%;
    }
    .container_items {
        max-width: 973px;
        justify-content: center;
        gap: 10px;
    }
    .img_nd {
        width: 170px;
    }
    .company {
        display: flex;
        gap: 10px;
        margin-top: 30px;
    }
    .img_construction {
        margin-top: 45px;
        margin-left: 5px;
        width: 55%;
    }
    .text_in_inshaat {
        width: 42%;
        margin-top: 45px;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        width: 750px;
    }
    #contact_form .container {
        display: flex;
        gap: 27px;
        flex-direction: column;
    }
    #icons {
        display: flex;
        flex-direction: row;
        gap: 11px;
        margin-top: 25px;
        width: 100%;
    }
    #form {
        width: 100%;
    }
    .contact {
        width: 100%;
    }
    #icon_first {
        width: 34%;
    }
    #icon_second {
        width: 34%;
    }
    #icon_third {
        width: 34%;
    }
    .background_foto p {
        font-size: 0.775rem;
    }
    .background_foto h1 {
        font-size: 2.535rem;
    }
    #blog .container {
        display: flex;
        gap: 25px;
        flex-direction: column;
    }
    #featured_courses {
        width: 100%;
    }
    .icons_aside {
        display: inline-block;
    }
    .ds_flex {
        gap: 10px;
        height: 90px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    #featured_courses h3 {
        font-size: 1.25rem;
    }
    #featured_courses {
        margin-top: 20px;
    }
    #transition_section {
        margin-top: 40px;
        margin-bottom: 0px;
    }
    footer {
        background: #3e9fbe;
        margin-top: 70px;
    }
    #icon_first {
        width: 44%;
    }
    .fa-magnifying-glass {
        width: 10%;
    }
    .page_nav {
        margin-top: 100px;
    }
    .div_in_services {
        width: 48%;
        margin-top: 70px;
    }
    .container_items {
        max-width: 751px;
        justify-content: center;
        gap: 10px;
    }
    .company {
        gap: 25px;
        width: 48%;
    }
    #companies_in_inshaat {
        display: flex;
        flex-wrap: wrap;
        gap: 14px;
    }
    #inshaat_section {
        height: 900px;
    }
    .img_nd {
        width: 50%;
    }
    .text_in_inshaat {
        width: 36%;
        margin-top: 51px;
    }
    .img_construction {
        margin-top: 45px;
        margin-left: 5px;
        width: 49%;
    }
    .img_gold {
        margin-top: 16px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 500px;
    }
    #boxes {
        display: flex;
        gap: 30px;
        flex-direction: column;
    }
    .box {
        width: 100%;
    }
    #img_footer {
        width: 50%;
    }
    #under_footer_text {
        text-align: left;
        font-size: 0.805rem;
    }
    .box p {
        font-size: .8rem;
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .column_div_first {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        margin-top: 50px;
    }
    #column_divs_first {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        gap: 20px;
    }
    .column_div_first {
        height: 805px;
    }
    #icons {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
    #icon_first {
        width: 100%;
    }
    #icon_second {
        width: 100%;
    }
    #icon_third {
        width: 100%;
    }
    #contact_form {
        margin-top: 91px;
        height: 800px;
    }
    .div_in_services {
        width: 100%;
        margin-top: 40px;
    }
    .container_items {
        max-width: 503px;
        justify-content: center;
        gap: 10px;
    }
    .text_in_inshaat {
        width: 52%;
        margin-top: 70px;
    }
    .img_construction {
        margin-top: 23px;
        margin-left: 5px;
        width: 250px;
    }
    .img_gold {
        width: 140px;
        margin-top: 19px;
    }
    #companies_in_inshaat {
        display: flex;
        flex-direction: column;
    }
    .company {
        width: 100%;
        gap: 30px;
    }
    #inshaat_section {
        height: 1200px;
    }
    .img_nd {
        width: 260px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 320px;
    }
    .page_nav span {
        color: #7f7f7f;
        font-size: 0.727rem;
        line-height: 1.5rem;
        font-family: 'Open Sans';
    }
    .column_div_first {
        height: 725px;
    }
    .read_more_btn {
        width: 50%;
    }
    .container {
        width: 320px;
    }
    .page_nav span {
        color: #7f7f7f;
        font-size: 0.727rem;
        line-height: 1.5rem;
        font-family: 'Open Sans';
    }
    .flex_end {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #btns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #back_btn {
        width: 60%;
    }
    #qet_btn {
        width: 60%;
    }
    .fa-magnifying-glass {
        width: 20%;
    }
    .container_items {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .cbp-item {
        position: relative;
        width: 64%;
    }
    .img_construction {
        margin-top: 43px;
        margin-left: 5px;
        width: 170px;
    }
    .img_gold {
        width: 110px;
        margin-top: 19px;
    }
    .img_nd {
        width: 230px;
        margin-top: 20px;
    }
    .text_in_inshaat {
        width: 52%;
        margin-top: 32px;
    }
    .company {
        gap: 10px;
    }
    .company {
        height: 140px;
    }
    .img_construction {
        margin-top: 20px;
        margin-left: 5px;
        width: 230px;
    }
    #inshaat_section {
        height: 1270px;
    }
}