* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

#topbar {
    height: 40px;
    background-color: black;
}

header {
    background-color: white;
    height: 92px;
    width: 100%;
}

.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.background_foto {
    background-image: url("https://www.themesindustry.com/html/xwin/images/page-tittle.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 40px;
    height: 297px;
    padding-top: 90px;
}

.flex_end {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.page_nav a {
    color: black;
    font-size: 0.875rem;
    font-family: 'Open Sans';
    line-height: 1.5rem;
    display: inline-block;
    margin: 0 10px;
    color: #0b0b0b;
}

.page_nav span {
    color: #7f7f7f;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-family: 'Open Sans';
}

.background_foto h1 {
    font-size: 2.625rem;
    color: white;
    font-weight: 600;
    line-height: 1.1;
}

.background_foto p {
    color: white;
    line-height: normal;
    font-size: .9rem;
    font-family: 'Open Sans';
}

.page_nav {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #fff;
    padding: 18px 40px 20px;
    display: inline-block;
    margin-top: 90px;
    color: #7f7f7f;
    font-size: 0.875rem;
}